<div class="Palette">
      <div class='Color Color--main--light'></div>
      <div class='Color Color--main'></div>
      <div class='Color Color--main--dark'></div>

      <div class='Color Color--foreground--light'></div>
      <div class='Color Color--foreground'></div>
      <div class='Color Color--foreground--dark'></div>

      <div class='Color Color--background--light'></div>
      <div class='Color Color--background'></div>
      <div class='Color Color--background--dark'></div>

      <div class='Color Color--highlight--light'></div>
      <div class='Color Color--highlight'></div>
      <div class='Color Color--highlight--dark'></div>

      <div class='Color Color--alarm--light'></div>
      <div class='Color Color--alarm'></div>
      <div class='Color Color--alarm--dark'></div>
</div>