<div class="Button-wrapper">

	<div class="Button-header">Emergency contacts</div>
	<div class="Button Button--contacts">
		<div class="Button--contacts--location icon-target-two"></div>
		<div class="Button--contacts--message icon-envelope"></div>
		<div class="Button--contacts--call icon-phone"></div>
	</div>
    <div class="Button-description">Not sharing location</div>

    <div class="Button Button--police">
    	<div class="Button--police--notify">
    		<div class="Button--police--notify-icon icon-megaphone"></div>
    		Notify Police!
		</div>
    	<div class="Button--police--call icon-phone"></div>
    </div>
    <div class="Button-description">Not sharing location</div>

</div>

<a href = '#/alarm' class="Button Button--alarm">
	<div class="Button--alarm-wrapper">
   	 	<div class="Button--alarm-icon icon-volume-up"></div>
    	<div class="Button--alarm-label">Sound alarm!</div> 
    </div>
</a>