.Menu
{
	display: flex; 
	flex-direction: column; 
	align-items: center;
	color: map-get( $colors, 'foreground-dark' );
	height: map-get( $layout, 'menu-max-height' );
	position: absolute; 
	width: 100%; 
}